.fragment-stack {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.fragment-stack .fragment {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.tworows {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

ul ul {
  margin-left: 60px !important;
}